body,
html,
.container {
    width:  100%;
    height: 100%;
}
body {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}
.pagebg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
#bg_0 {
    background-image: url('../imagenes/bg_0.png');
    opacity: 1
}
#bg_1 {
    background-image: url('../imagenes/bg_1.png');
    opacity: 0
}
#bg_2 {
    background-image: url('../imagenes/bg_2.png');
    opacity: 0
}
#logowrapper {
    position: relative;
    height: 320px
}
#logo {
    background: url(../imagenes/logo.png);
    color: #3c3d40;
    font-size: 0;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-indent: -9999px;
    width: 320px;
    background-size: 100% 100%;
}
#subscribe {
    margin-top: 40px
}
input {
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
    -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
    color: #333;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center
}
input::-webkit-input-placeholder {
    color: #bbb
}
input:-moz-placeholder {
    color: #bbb
}
input:focus {
    outline: 0
}
#email {
    width: 82%
}
#email:hover,
#email:focus {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 0 4px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 0 4px 4px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 0 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 0 4px 4px rgba(0, 0, 0, 0.15)
}
#submitwrapper {
    position: relative;
    width: 50%;
}
#submit {
    color: #fff;
    font-weight: bold;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    width: 100%
}
#submit:hover,
#submit:focus {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 0 4px 4px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 0 4px 4px rgba(255, 255, 255, 0.25);
    -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 0 4px 4px rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25), inset 0 0 4px 4px rgba(255, 255, 255, 0.25)
}
#submit:active {
    -webkit-box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.20);
    -o-box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.20);
    box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.20);
    color: #ccc;
    position: relative
}
#message {
    background: #fff;
    border-radius: 5px;
    display: none;
    font-size: 16px;
    height: 22px;
    padding: 14px 0;
    position: absolute;
    text-align: center;
    width: 82%;
    z-index: 3
}
#iphone {
    background: url(../imagenes/iphone.png);
    height: 740px;
    margin: 0 auto 75px;
    position: relative;
    width: 370px
}
#glare {
    background: url(../imagenes/glare.png);
    height: 740px;
    left: 0;
    position: absolute;
    top: 0;
    width: 370px;
    z-index: 1
}
#screenwrapper {
    height: 512px;
    left: 36px;
    overflow: hidden;
    position: absolute;
    top: 115px;
    width: 288px
}
.screen {
    background-repeat: no-repeat;
    height: 512px;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: background-image .3s;
    -moz-transition: background-image .3s;
    -o-transition: background-image .3s;
    transition: background-image .3s;
    width: 288px
}
#screen_0 {
    background-image: url('../imagenes/screen_0.png');
    background-size: 100% 100%;
}
#screen_0:hover,
#screen_0.hover {
    background-image: url('../imagenes/hover_0.png');
}
#screen_1 {
    background-image: url('../imagenes/screen_1.png');
    left: 288px;
    background-size: 100% 100%;
}
#screen_1:hover,
#screen_1.hover {
    background-image: url('../imagenes/hover_1.png')
}
#screen_2 {
    background-image: url('../imagenes/screen_2.png');
    left: 576px;
    background-size: 100% 100%;
}
#screen_2:hover,
#screen_2.hover {
    background-image: url('../imagenes/hover_2.png')
}
#screen_3 {
    background-image: url('../imagenes/screen_3.png');
    left: 864px;
    background-size: 100% 100%;
}
#screen_3:hover,
#screen_3.hover {
    background-image: url('../imagenes/hover_3.png')
}
#screen_4 {
    background-image: url('../imagenes/screen_4.png');
    left: 1152px;
    background-size: 100% 100%;
}
#screen_4:hover,
#screen_4.hover {
    background-image: url('../imagenes/hover_4.png')
}
#screen_5 {
    background-image: url('../imagenes/screen_5.png');
    left: 1440px;
    background-size: 100% 100%;
}
#screen_5:hover,
#screen_5.hover {
    background-image: url('../imagenes/hover_5.png')
}
#screen_6 {
    background-image: url('../imagenes/screen_6.png');
    left: 1728px;
    background-size: 100% 100%;
}
#screen_6:hover,
#screen_6.hover {
    background-image: url('../imagenes/hover_6.png')
}
.footer {
    background: #aaacac;
    bottom: 0;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: fixed;
    text-align: center;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    width: 100%;
    z-index: 2

}
.footer.bg_0,
#submit.bg_0 {
    background: #aaacac
}
.footer.bg_1,
#submit.bg_1 {
    background: #867d73
}
.footer.bg_2,
#submit.bg_2 {
    background: #5f5c6a
}
.footer a {
    color: #fff;
    text-decoration: none
}
.footer a:hover {
    color: #ccc
}

#text{
	color: white;
    font-size: 15px;
}

#Botones{
	width: 400px;
	display:inline-block;
    height: 80px;
}

#googlePlay{
	background-image: url('../imagenes/googlePlay.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 200px;
	height: 100px;
	float: left;
    cursor: pointer;
}

#appStore{
	background-image: url('../imagenes/appstore.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 200px;
	height: 100px;
	float: right;
    cursor: pointer;
}

#iw-container {
    margin-bottom: 0px;
    background-color: #ffc900;
    border-radius: 0px 0px 20px 20px;
}
/*#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 2px;
    background-color: #886051;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    color: white;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}
*/
.titulo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 2px;
    background-color: #886051;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

.contenido {
    font-size: 17px;
    color: white;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.iw-content img {
    float: right;
    margin: 0 5px 5px 10px; 
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 224px;
    height: 25px;
    bottom: 16px;
    border-radius: 22px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.gm-style-iw {
    width: 185px !important;
    top: 15px !important;
    /*background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid #FFC107;*/
    border-radius: 2px 2px 22px 22px;
    height: 80px;
}

#flechaAbajo {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px;
    border-bottom-width: 0px;
    border-color: #FF9800 transparent transparent transparent;
    margin: 0 auto;
    cursor: pointer;
}


.ubicacion {
    float: left;
}

.left {
    width: 80%;
    height: 100%;
}

.right {
    width: 20%;
    height: 70%;
}

#map{
   width: 100%;
   height: 100%; 
}

#map-canvas img {
    max-width: none !important;
}

.facebok {
    background-color: #29487d;
}

.infoLlegar {
    background-color: rgba(22, 208, 65, 0.8);
}

.foote {
    bottom: 0;
    position: fixed;
    padding-bottom: 50px;
}

.pad {
 padding: 8px;
}

.texto {
    font-family: helvetica;
    font-size: 25px;
    padding: 30px;
}

.botn {
background-color: #2dc234;
background-image: -webkit-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -moz-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: -o-linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
background-image: linear-gradient(rgba(41, 150, 47, .8), rgba(45, 194, 52, .2));
-ms-border-radius:8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
-moz-box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
box-shadow: 0 8px 0 #197b1d, 0 10px 20px rgba(0, 0, 0, .4);
color: #fff;
display: inline-block;
font-family: ‘Pacifico’, Arial, sans-serif;
font-size: 20px;
line-height: 1;
padding: 15px 25px;
text-decoration: none;
text-shadow: 0 -1px 1px rgba(25, 123, 29, .7);
width: 80%;
height: 20%;

}
.botn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
    background-color:#476e9e;
}
.botn:active {
    position:relative;
    top:1px;
}

@media only screen and (max-device-width: 700px) {

    .contenido {
        float: left;
        width: 60%;
        color: black;
        size: 25px;
    }
    
    .photo {
        float: left;
        width: 30%;
        margin: 0 auto;
    }

    .ubicacion {
        float: none;
        clear: none;
    }

    .left {
        width: 100%;
        height: 70%;
    }

    .right {
        width: 100%;
        height: 30%;
        clear:both;
        overflow-x: none;
        overflow-y: scroll;
    }

    .foote {
        margin-left: 10px;
        width: 100%;
    }
}

.infoPriv {
background: rgba(255,153,0,1);
background: -moz-linear-gradient(left, rgba(255,153,0,1) 29%, rgba(255,171,46,1) 33%, rgba(240,144,0,1) 48%, rgba(240,144,0,1) 64%, rgba(240,144,0,0.86) 87%);
background: -webkit-gradient(left top, right top, color-stop(29%, rgba(255,153,0,1)), color-stop(33%, rgba(255,171,46,1)), color-stop(48%, rgba(240,144,0,1)), color-stop(64%, rgba(240,144,0,1)), color-stop(87%, rgba(240,144,0,0.86)));
background: -webkit-linear-gradient(left, rgba(255,153,0,1) 29%, rgba(255,171,46,1) 33%, rgba(240,144,0,1) 48%, rgba(240,144,0,1) 64%, rgba(240,144,0,0.86) 87%);
background: -o-linear-gradient(left, rgba(255,153,0,1) 29%, rgba(255,171,46,1) 33%, rgba(240,144,0,1) 48%, rgba(240,144,0,1) 64%, rgba(240,144,0,0.86) 87%);
background: -ms-linear-gradient(left, rgba(255,153,0,1) 29%, rgba(255,171,46,1) 33%, rgba(240,144,0,1) 48%, rgba(240,144,0,1) 64%, rgba(240,144,0,0.86) 87%);
background: linear-gradient(to right, rgba(255,153,0,1) 29%, rgba(255,171,46,1) 33%, rgba(240,144,0,1) 48%, rgba(240,144,0,1) 64%, rgba(240,144,0,0.86) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f09000', GradientType=1 );
}

@font-face{
   font-family: "text";
   font-style: normal;
   font-weight: normal;
   src: url(assets/fonts/HelloHandMeDown.ttf);
}

.sizePriv {
    width: 80%;
    height: 100%;
    font-family: text;
    font-size: 20px;
    text-align: justify;
    text-align: center;
}

.different {
    font-family: text;
    color: white;
    font-size: 14px;
    text-align: center;
    text-align: center;
}